Package: net.rinsuki.tweaks.fixnicocrash
Name: FixNicoCrash
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: rinsuki
Author: rinsuki
Section: Tweaks
