Package: net.rinsuki.tweaks.fixnicocrash
Name: FixNicoCrash
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: rinsuki <contact.tweaks@rinsuki.net>
Author: rinsuki <contact.tweaks@rinsuki.net>
Section: Tweaks
